:root {
    --tram: #54356E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fafafa;
}

.hidden {
    display: none !important;
}

/* error styles ///////////////////////////////////// */
.error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

#brightness {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    pointer-events: none;
}

.error-content {
    background-color: rgb(255, 225, 225);
    padding: 20px;
    border-radius: 5px;
    color: rgb(146, 0, 0);
    display: flex;
    border-radius: 40px 10px 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}

.error-content button {
    padding: 14px 30px;
    border: none;
    background-color: rgb(218, 12, 12);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.error-content span {
    font-size: 15px;
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 4px;
}

.error-content i {
    padding-right: 4px;
    color: rgb(218, 12, 12);
    font-size: 18px;
}

/* error styles ///////////////////////////////////// */

/* loading styles ///////////////////////////////////// */
@keyframes fadeIn {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes reload {
    from {
        transform: translateX(-50%) rotate(0deg);
    }

    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.img-tram-logo {
    width: 20px;
    /* background: var(--tram); */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn .5s ease-in-out forwards;
}

.reload-logo {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    color: #333;
    border: 6px solid var(--tram);
    border-left: 6px solid transparent;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    animation: reload 1s linear infinite;
}

/* loading styles ///////////////////////////////////// */

/* header styles ///////////////////////////////////// */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header img {
    width: 100%;
}

/* header styles ///////////////////////////////////// */

/* footer styles ///////////////////////////////////// */
footer {
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    padding: 0px 15px;
    z-index: 10;
    background-color: white;
}

footer ul {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
}

footer ul li {
    padding: 10px 10px;
    cursor: pointer;
    color: #828282;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    border-top: 3px solid transparent;
    flex: 1;
}

footer ul li i {
    font-size: 20px;
}

.clicked-li {
    color: #000;
    border-top: 3px solid var(--tram);
}

/* footer styles ///////////////////////////////////// */

/* top styles ///////////////////////////////////// */
#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
    background-color: var(--tram);
    color: white;
    height: 200px;
}

#top h1 {
    text-transform: capitalize;
}

#top .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 7px;
}

#top .profile img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

#top .profile h2 {
    display: flex;
    gap: 5px;
}

.more-height-top {
    height: 250px !important;
}

/* top styles ///////////////////////////////////// */
/* info styles ///////////////////////////////////// */
#info {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: -25px auto;
    height: 50px;
    border-radius: 10px;
    color: #505050;
    overflow: hidden;
}

#info>div {
    width: 100%;
}

#info .info-cart {
    text-align: center;
}

#info .info-store select {
    width: 90%;
    margin: auto;
    display: block;
    border: none;
    background: white;
    outline: none;
}

#info .info-tickets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#info .info-tickets p {
    flex: 1;
    text-align: center;
    border-bottom: 2px solid transparent;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#info .info-tickets div {
    width: 1px;
    height: 100%;
    background: #505050;
}

.clicked-info-tickets {
    border-bottom: 2px solid var(--tram) !important;
}

.hide-bg {
    background: transparent !important;
    box-shadow: none !important;
    height: 60px !important;
}

#info .info-more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    margin: 20px 0;
}

#info .client-id,
#info .power {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    height: 45px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    padding: 0 20px;
}

#info .client-id {
    border: 1px solid var(--tram);
}

/* info styles ///////////////////////////////////// */

/* cart counter styles ///////////////////////////////////// */
.cart-counter {
    border-top: 3px solid transparent !important;

}

.cart-counter i {
    background-color: var(--tram);
    padding: 3px;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    position: relative;
    transform: scale(1.7) translate(0px, -8px);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-counter i::after {
    content: '1';
    position: absolute;
    background-color: rgb(218, 12, 12);
    color: white;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    font-size: 10px;
    bottom: 0px;
    right: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* content styles ///////////////////////////////////// */
#content .store-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    padding: 30px 0px;
    margin-bottom: 20px;
}

#content .store-content img,
#content .cart-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);
}

#content .cart-content,
#content .more-content {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    padding: 30px 0px;
    margin-bottom: 20px;
}

#content .cart-content .checkbox {
    /* align-self: flex-start; */
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    width: 90%;
    font-size: 15px;
}

#content .cart-content .checkbox #accept {
    accent-color: var(--tram);
}

#content .cart-content .cart-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 80px;
}

#content .cart-content .cart-form .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    width: 90%;
    background: var(--tram);
    color: white;
    padding: 12px 10px;
    gap: 20px;
    border-radius: 5px;
}

#content .cart-content .cart-form .total p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}

#content .cart-content .cart-form .total button {
    background: white;
    color: var(--tram);
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    color: #7d7c7c;
}

#content .more-content img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

#content .ticket-content {
    border: 1px solid var(--tram);
    border-radius: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 50px; */
    margin: 50px auto;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

#content .ticket-content .title {
    background: #d4ccdb;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: 5px; */
}

#content .ticket-content .title span {
    color: var(--tram);
    background: white;
    padding: 5px 10px;
    border-radius: 0 0 10px 0;
    border-right: 1px solid var(--tram);
    border-bottom: 1px solid var(--tram);
    font-size: 19px;

}

#content .ticket-content .title span b {
    color: black;
}

#content .ticket-content .title p {
    text-align: center;
    padding: 5px;
    font-size: 19px;

}

#content .ticket-content button {
    padding: 8px;
    width: 95%;
    font-size: 17px;
    border-radius: 5px;
    margin: 20px;
    border: none;
    background: var(--tram);
    color: white;
}

.ticket-content .ticket-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px 0;
    align-items: flex-end;
    gap: 10px;
}

.ticket-content .ticket-body .time {
    flex: 1;
    font-size: 15px;
}

.ticket-content .ticket-body .going {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
    padding-top: 10px;

}

.ticket-content .ticket-body .going span {
    font-size: 12px;
    background: rgb(229, 249, 175);
    border-radius: 30px;
    padding: 5px;
}

.ticket-content .ticket-body .going span i {
    font-size: 10px;
}

.ticket-content .ticket-body .going .scan-logo {
    font-size: 35px;
    color: rgb(59, 59, 59);
    border: 1px solid black;
    padding: 3px 5px 1px;
    border-radius: 5px;
}

.ticket-content .ticket-body .between {
    width: 1px;
    height: 100px;
    background: rgb(67, 67, 67);

}

/* content styles ///////////////////////////////////// */
/* camera styles ///////////////////////////////////// */
.camera-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10000;
}

.camera-page #qr-code {
    width: 100%;
    flex: 1;
}

.camera-page .scan-title,
.camera-page .scan-code {
    background: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1;
    box-shadow: 0 0 80px 40px black;
    align-items: flex-start;
    padding: 10px;
    z-index: 3;
}

.camera-page .scan-title button {
    border-radius: 50%;
    background: white;
    width: 25px;
    height: 25px;
    border: none;
}

.camera-page .scan-code {
    flex-direction: column;
    align-items: center !important;
    justify-content: flex-start !important;
}

.camera-page .scan-code p {
    font-weight: bold;
}

.camera-page .scan-code button {
    color: white;
    background: transparent;
    border: 1px solid white;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

#form-code {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
    justify-content: center;
    align-items: center;
}

#form-code .form-code-content {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 80%;
}

#form-code .form-code-content .x {
    background: none;
    border: none;
    align-self: flex-end;
    font-size: 17px;
}

#form-code .form-code-content p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 20px;
    text-align: center;
}

#form-code .form-code-content .input-code {
    display: flex;
    padding: 5px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#form-code .form-code-content .input-code b {
    font-size: 30px;
    font-weight: bolder;
}

#form-code .form-code-content .input-code input {
    background-color: white;
    color: black;
    border: 1px solid black;
    outline: none;
    padding: 10px 0;
    font-size: 17px;
    text-align: center;
}

#form-code .form-code-content .validate {
    background: white;
    border: 1px solid;
    padding: 10px 40px;
    font-weight: bolder;
    color: black;
    margin-top: 20px;
    font-size: 17px;
}

#form-code .form-code-content .validate:hover {
    background: black !important;
    color: white !important;
}

/* camera  styles ///////////////////////////////////// */
/* ticket-tram  styles ///////////////////////////////////// */

#tramTicket {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-width: 413px) and (max-height: 700px){
    #tramTicket .info-logo-tram {
        transform: scale(.6);
    }

    #tramTicket .info-footer-tram {
        transform: scale(.9);
    }

    .info-scan-tram .top-info-scan h3,
    .info-scan-tram .bottom-info-scan h3 ,.info-scan-tram .top-info-scan img ,.info-scan-tram .bottom-info-scan .button{
        transform: scale(.85);
    }

}

#tramTicket .info-ticket-tram {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('./bgtram.png') no-repeat;
    background-position: center center;
    /* background: var(--tram); */
    background-size: cover;
    width: 100%;
    height: 100%;
}

#tramTicket .info-ticket-tram button,
.info-scan-tram button {
    position: absolute;
    top: 7px;
    left: 15px;
    border-radius: 50px;
    border: none;
    background: white;
    width: 30px;
    height: 30px;
}

#tramTicket .info-ticket-tram .info-logo-tram,
#tramTicket .info-ticket-tram .info-footer-tram {
    flex: 1;
    /* background: red; */
}

#tramTicket .info-ticket-tram .info-logo-tram {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background: white; */
}

#tramTicket .info-ticket-tram .info-logo-tram img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    background: white;
    border-radius: 50%;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#tramTicket .info-ticket-tram .circles {
    position: absolute;
    width: 240px;
    /* background: pink; */
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: spin 5s linear infinite;
    touch-action: none;
}

#tramTicket .info-ticket-tram .circles .circle {
    width: 50px;
    height: 50px;
    background: brown;
    border-radius: 50%;
}

#tramTicket .info-footer-tram {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 10px;
}

#tramTicket .info-footer-tram .ticket-unitaire,
#tramTicket .control-information {
    border: 1px solid var(--tram);
    border-radius: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: white;
}

#tramTicket .ticket-unitaire .title,
#tramTicket .control-information .title {
    background: #d4ccdb;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#tramTicket .control-information .title {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    font-size: 19px;
    color: black;
    font-weight: bold;
}

#tramTicket .ticket-unitaire .title span {
    color: var(--tram);
    background: white;
    padding: 5px 10px;
    border-radius: 0 0 10px 0;
    border-right: 1px solid var(--tram);
    border-bottom: 1px solid var(--tram);
    font-size: 19px;

}

#tramTicket .ticket-unitaire .title span b {
    color: black;
}

#tramTicket .ticket-unitaire .title p {
    text-align: center;
    padding: 5px;
    font-size: 19px;

}

#tramTicket .ticket-unitaire .ticket-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

#tramTicket .ticket-unitaire .ticket-body .time {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    color: rgb(82, 82, 82);
    flex: 1;
    font-size: 15px;
}

#tramTicket .ticket-unitaire .ticket-body .scan-logo {
    font-size: 40px;
    color: rgb(59, 59, 59);
    border: 1px solid black;
    padding: 3px 5px 1px;
    border-radius: 5px;
    align-self: flex-end;
}

#tramTicket .ticket-unitaire .ticket-body .between {
    width: 1px;
    height: 100%;
    background: rgb(67, 67, 67);
}

#tramTicket .control-information .control-information-body {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: rgb(82, 82, 82);
}

#tramTicket .control-information .control-information-body h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: black;
}

#tramTicket .progress {
    width: 90%;
    height: 30px;
    background: white;
    border-radius: 100px;
    margin-bottom: 30px;
    overflow: hidden;
}

#tramTicket .progress .background-green {
    width: 0%;
    height: 100%;
    background: green;
}

.info-scan-tram {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info-scan-tram .top-info-scan,
.info-scan-tram .bottom-info-scan {
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-scan-tram .top-info-scan {
    background: var(--tram);
    gap: 20px;
}

.info-scan-tram .bottom-info-scan {
    position: relative;
    background-color: #fafafa;

}

.info-scan-tram .bottom-info-scan .button {
    position: absolute;
    top: -20px;
    height: 30px;
    padding: 20px 15px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: rgb(59, 59, 59);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    background: white;
    font-size: 20px;
}

.info-scan-tram .bottom-info-scan h3 {
    margin: 0 100px;
    text-align: center;
    font-size: 20px;
}

.info-scan-tram .top-info-scan h3 {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.info-scan-tram .top-info-scan img {
    width: 200px;
    border-radius: 10px;
}

/* ticket-tram  styles ///////////////////////////////////// */
